{% extends 'global/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="container grid col-1 align-right">
  <div>
    <h2>Be strong and take heart,<br>all who hope in the Lord</h2>
    <p>- Psalm 31:25 </p>
  </div>  
</div>
<!-- Callout Box  -->
<div class="container grid col-2">
  <div>
    <img>
  </div>
  <div>
    <p>Welcome to Living Hope Christian Fellowship</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset</p>
  </div>
</div>


{% endblock content %}